@use "variables";

.day-cell {
  // カレンダーは5x7なので1/5=20%
  // FIXME: 上位コンポーネントについての知識を持ってしまっている
  height: 20%;
  text-align: center;
  vertical-align: top;
  border: variables.$border-width solid variables.$border-color;
}

.day-cell-text {
  color: variables.$black-color;
}

.day-cell-text-gray {
  color: variables.$gray-color;
}

.day-cell-text-today {
  background-color: variables.$primary-color;
}
