@use "variables";

.day-cell {
  text-align: center;
  vertical-align: top;
  border: variables.$border-width solid variables.$border-color;
}

.day-cell-text {
  color: variables.$black-color;
}

.day-cell-text-gray {
  color: variables.$gray-color;
}

.day-cell-text-today {
  background-color: variables.$primary-color;
}
